name: Build My OpenList

on:
  workflow_dispatch:
    inputs:
      version:
        description: '版本号'
        default: 'v4.1.9'
      lite:
        description: '使用 Lite 前端'
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      # 【关键步】安装 Zig 以支持 arm64 交叉编译
      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.11.0

      - name: Build All Platforms
        env:
          FRONTEND_REPO: "UNI-earth/OpenList-Frontend"
          VERSION: ${{ github.event.inputs.version }}
        run: |
          chmod +x build.sh
          
          # 构造编译命令
          CMD="./build.sh release"
          if [ "${{ github.event.inputs.lite }}" = "true" ]; then
            CMD="$CMD lite"
          fi
          
          echo "开始编译全平台版本: $VERSION ..."
          $CMD

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: OpenList-${{ github.event.inputs.version }}
          path: bin/release/*
